<% provide(:title, 'All Users') %>
<h1>ユーザー一覧</h1>

  <div class="row">
    <div class="col-md-10 col-md-offset-8">
      <p>ユーザー名検索</p>
        <%= form_with(model: @user,  method: :get, local: true) do |form| %>
          <%= text_field_tag :search %>
          <%= submit_tag '検索', :name => nil, class: "btn btn-primary" %>
        <% end %>
    </div>
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= form_tag import_users_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "インポート" %>
      <% end %>
    </div>
   </div>
  </div>
<div class="row">
<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
      </tr>
    </thead>

    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td>
          <% if current_user.admin? && !current_user?(user) %>
            <%= link_to "基本情報編集", edit_basic_info_user_path(user), remote: true, class: "btn btn-success" %>
            <%= link_to "削除", user, method: :delete,
                data: { confirm: "削除してよろしいですか？" },
                class: "btn btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<%= will_paginate %>
</div>

<!--モーダルウインドウ表示-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>