<h1>Editing Schedule</h1>

<%= form_with(model: @schedule, url: user_schedule_path(@user, @schedule), local: true, method: :patch) do |form| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_field :start_date, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_field :end_date, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.time_field :start_time, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.time_field :end_time, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>


<%= link_to 'Show', user_schedule_path(@schedule) %>
<%= link_to 'Back', user_schedules_path %>
