<header class="navbar navbar-fixed-top navbar-default" id = "header">
  <div class="container">
    <%= link_to "Schedule-App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホーム", root_path, class: "glyphicon glyphicon-home header-list" %></li>
        <% if logged_in? %>
          <li><%= link_to "メッセージ", "#", class: "glyphicon glyphicon-envelope header-list" %></li>
          <li><%= link_to "全てのユーザー", users_path, class: "glyphicon glyphicon-user header-list" %></li>
          <li class="dropdown">
          <a href="#" class="glyphicon glyphicon-th-list dropdown-toggle header-list" data-toggle="dropdown"
           id="dropdown-title">メニュー<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "マイページ", current_user, class: "glyphicon glyphicon-star" %></li>
              <li><%= link_to "課題管理", current_user, class: "glyphicon glyphicon-briefcase" %></li>
              <li><%= link_to "課題一覧", user_homeworks_path(current_user), class: "glyphicon glyphicon-briefcase" %></li>
              <li><%= link_to "スケジュール", user_schedules_path(current_user), class: "glyphicon glyphicon-calendar" %></li>
              <li><%= link_to "設定", edit_user_path(current_user), class: "glyphicon glyphicon-cog" %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete, class: "glyphicon glyphicon-off" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "ログイン", login_path, class: "header-list" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>